<footer class="flex flex-wrap text-white bg-black pt-12 pb-8 pl-4">
  <div class="mx-8 mt-8 w-96">
    <div class="mb-4">
      <p class="text-xl pb-3">聯絡我們</p>
      <p>
        <i class="bi bi-sign-turn-right-fill"></i
        >地址：台中市南屯區公益路二段51號18樓
      </p>
      <p><i class="bi bi-telephone-fill"></i>電話：(04) 2326-5860#6541</p>
      <p><i class="bi bi-envelope-fill"></i>EMail：iiispan@ispan.com.tw</p>
      <p><i class="bi bi-chat-fill"></i>服務時間：9:00-16:30</p>
    </div>
    <div class="flex justify-start text-white text-3xl">
      <a href="" class="mr-6 hover:text-cyan-600">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="mr-6 hover:text-cyan-600">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="mr-6 hover:text-cyan-600">
        <i class="bi bi-twitter-x"></i>
      </a>
      <a href="" class="mr-6 hover:text-cyan-600">
        <i class="bi bi-youtube"></i>
      </a>
    </div>
  </div>
  <div class="mx-8 mt-8 w-64">
    <p class="text-xl pb-3 w-64">課程主題</p>
    <div class="flex">
      <ul class="mr-6">
        <li class="mb-2 hover:text-cyan-600"><a href="">語言學習</a></li>
        <li class="mb-2 hover:text-cyan-600"><a href="">程式設計</a></li>
        <li class="mb-2 hover:text-cyan-600"><a href="">美食料理</a></li>
      </ul>
      <ul>
        <li class="mb-2 hover:text-cyan-600"><a href="">藝術創作</a></li>
        <li class="mb-2 hover:text-cyan-600"><a href="">運動健身</a></li>
        <li class="mb-2 hover:text-cyan-600"><a href="">理財投資</a></li>
      </ul>
    </div>
  </div>
  <div class="mx-8 mt-8 w-64">
    <p class="text-xl pb-3 w-64">幫助</p>
    <div class="flex">
      <ul class="mr-6">
        <li class="mb-2 hover:text-cyan-600"><a href="">搜索課程</a></li>
        <li class="mb-2 hover:text-cyan-600"><a href="">優惠專區</a></li>
      </ul>
      <ul>
        <li class="mb-2 hover:text-cyan-600"><a href="">客服信箱</a></li>
        <li class="mb-2 hover:text-cyan-600"><a href="">線上客服 </a></li>
      </ul>
    </div>
  </div>
  <div class="mx-8 mt-8 w-64">
    <p class="text-xl pb-3 w-64">條款與政策</p>
    <div class="flex">
      <ul class="mr-6">
        <li class="mb-2 hover:text-cyan-600">
          <a href="">平台會員規範及申訴管道</a>
        </li>
        <li class="mb-2 hover:text-cyan-600">
          <a href="">優惠使用規則</a>
        </li>
        <li class="mb-2 hover:text-cyan-600"><a href="">隱私權政策</a></li>
        <li class="mb-2 hover:text-cyan-600"><a href="">服務條款</a></li>
      </ul>
    </div>
  </div>
  <div class="mx-8 mt-8 flex-1 text-right flex justify-end items-end">
    <p>© 2024 EZLEARN, Inc.</p>
  </div>
</footer>
