<header class="flex flex-row justify-between">
  <div class="flex justify-start items-center">
    <a href="index.html">
      <img class="w-72 p-4" src="../imgs/logo.png" title="回首頁" alt="LOGO" />
    </a>
    <div class="mx-6 relative group py-2">
      <span
        class="text-lg mr-2 p-1 hover:bg-cyan-200 cursor-pointer hidden lg:flex"
        >探索課程 ∨</span
      >
      <div
        class="absolute left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg opacity-0 scale-95 group-hover:opacity-100 group-hover:scale-100 transform transition duration-200 pointer-events-none group-hover:pointer-events-auto"
      >
        <ul class="py-2">
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >所有分類</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >語言學習</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >程式設計</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >美食料理</a
            >
          </li>
          <li class="border-gray-200">
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >藝術創作
            </a>
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >運動健身</a
            >
          </li>
          <li class="border-gray-200">
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >理財投資</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="hidden md:flex justify-center">
      <i
        class="bi bi-search border-black border-y-2 border-l-2 text-xl px-4 py-2 rounded-l-3xl"
      ></i>
      <input
        placeholder="JAVA線上課程優惠中"
        class="border-black border-y-2 border-r-2 text-xl rounded-r-3xl focus:outline-none pr-4 w-72"
        type="search"
      />
    </div>
  </div>
  <div class="flex flex-row items-center">
    <div class="hidden xl:flex">
      <a
        href=""
        class="mr-6 text-lg hidden lg:flex hover:text-cyan-600 duration-200"
        >我是老師</a
      >
    </div>
    <div class="hidden xl:flex">
      <a href="" class="mr-8 text-lg hover:text-cyan-600 duration-200"
        >我的學習</a
      >
    </div>
    <div class="flex md:hidden">
      <i
        class="bi bi-search text-xl px-4 py-2 cursor-pointer hover:text-cyan-600 duration-200"
        id="btnNavSearch"
      ></i>
    </div>
    <div class="hidden lg:flex">
      <a href="">
        <i
          class="bi bi-heart text-2xl mr-6 hover:text-cyan-600 duration-200"
          title="願望清單"
        ></i>
      </a>
    </div>
    <div class="hidden lg:flex">
      <a href="">
        <i
          class="bi bi-cart text-2xl mr-6 hover:text-cyan-600 duration-200"
          title="購物車"
        ></i>
      </a>
    </div>
    <div class="hidden lg:flex">
      <a href="">
        <i
          class="bi bi-bell text-2xl hover:text-cyan-600 duration-200"
          title="通知"
        ></i>
      </a>
    </div>
    <div class="relative group py-2">
      <a href="" class="">
        <i
          class="bi bi-person-circle text-2xl ml-6 mr-8 hover:text-cyan-600 duration-200"
          title="會員首頁"
        ></i>
      </a>
      <div
        class="absolute right-0 mt-2 w-80 bg-white border border-gray-200 shadow-lg opacity-0 scale-95 group-hover:opacity-100 group-hover:scale-100 transform transition duration-200 pointer-events-none group-hover:pointer-events-auto"
      >
        <div class="inline-flex w-full p-2 border border-gray-200">
          <img
            src="https://megapx-assets.dcard.tw/images/56c374f7-f782-4f82-9510-53ecc298f912/640.webp"
            class="m-4 w-20 h-20 rounded-full border border-gray-300 object-cover"
          />
          <div class="p-2 overflow-auto">
            <p class="text-lg">烏薩奇</p>
            <p class="text-sm">usagi666@gmail.com</p>
          </div>
        </div>
        <ul class="py-2">
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-book mx-2"></i>我的學習</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-cart mx-2"></i>購物車</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
            >
              <i class="bi bi-heart mx-2"></i>願望清單</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-person-workspace mx-2"></i>我是老師</a
            >
          </li>
          <li class="border-t border-gray-200">
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
            >
              <i class="bi bi-bell mx-2"></i>通知</a
            >
          </li>
          <li>
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-receipt mx-2"></i>訂單明細</a
            >
          </li>
          <li class="border-t border-gray-200">
            <a
              href=""
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-person-fill mx-2"></i>帳戶設定</a
            >
          </li>
          <li>
            <button
              class="w-full text-left px-4 py-2 hover:bg-gray-100 text-lg tracking-wider" id="logout"
            >
              <i class="bi bi-box-arrow-left mx-2" ></i>登出
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
