<aside class="min-h-full bg-green-600 border-r-4 border-black p-0">
    <div class="w-32 bg-yellow-300 p-4 ">
        <ul class="space-y-2">
            <li><a href="../pages/teacher_course.html" class="block py-2 px-4 border-2 border-black rounded bg-gray-100 hover:bg-gray-300 focus:bg-gray-500 active:bg-gray-700 relative">課程<i class="bi bi-caret-right-fill right-2 absolute"></i></a></li>
            <li><a href="../pages/teacher_qa.html" class="block py-2 px-4 border-2 border-black rounded bg-gray-100 hover:bg-gray-300 focus:bg-gray-500 active:bg-gray-700 relative">問答</a></li>
            <li><a href="../pages/teacher_post.html" class="block py-2 px-4 border-2 border-black rounded bg-gray-100 hover:bg-gray-300 focus:bg-gray-500 active:bg-gray-700 relative">公告</a></li>
            <li><a href="#" class="block py-2 px-4 border-2 border-black rounded bg-gray-100 hover:bg-gray-300 focus:bg-gray-500 active:bg-gray-700 relative">訊息</a></li>
        </ul>
    </div>
</aside>